 /* unvisited link */
 a:link {
     color: lightgrey;
 }

 /* visited link */
 a:visited {
     color: darkgrey;
 }

 /* mouse over link */
 a:hover {
     color: white;
 }

 /* selected link */
 a:active {
     color: darkgrey;
 }